{
    "Setting": {
		"canvas": "canvas",
		"skin": "default",
    	"width": 0,
    	"height": 0,
    	"fps": 60,
    	"sound": true,
    },
	"Skin": {
		"panel":{
			"rect": {
				"x": 0,
				"y": 0,
				"w": 32,
				"h": 32,
			},
			"region":{
				"l": 5,
				"r": 5,
				"t": 5,
				"b": 5,
			}
		},
		"panel-highlight":{
			"rect": {
				"x": 33,
				"y": 0,
				"w": 32,
				"h": 32,
			},
			"region":{
				"l": 5,
				"r": 5,
				"t": 5,
				"b": 5,
			}
		},
	}
}