{
    "Setting": {
		"canvas": "canvas",
		"skin": "default",
    	"width": 0,
    	"height": 0,
    	"fps": 60,
    	"sound": true,
    	"mouseover": true,
    },
    "Connector":{
    	"enable" : false,
    	"host": "127.0.0.1",
    	"port": "80",
    	"path": "/ws",
    },
	"Skin": {
		"panel":{
			"rect": {
				"x": 0,
				"y": 0,
				"w": 32,
				"h": 32,
			},
			"region":{
				"l": 5,
				"r": 5,
				"t": 5,
				"b": 5,
			}
		},
		"panel-highlight":{
			"rect": {
				"x": 33,
				"y": 0,
				"w": 32,
				"h": 32,
			},
			"region":{
				"l": 5,
				"r": 5,
				"t": 5,
				"b": 5,
			},
		},
		"button":{
			"rect":{
				"x": 66,
				"y": 0,
				"w": 12,
				"h": 12,
			},
			"highlight":{
				"x": 78,
				"y": 0,
				"w": 12,
				"h": 12,
			},
			"push":{
				"x": 90,
				"y": 0,
				"w": 12,
				"h": 12,
			},
			"disable":{
				"x": 102,
				"y": 0,
				"w": 12,
				"h": 12,
			},
			"region":{
				"l": 5,
				"r": 5,
				"t": 5,
				"b": 5,
			},
		},
		"checkbox":{
			"rect":{
				"x": 115,
				"y": 0,
				"w": 12,
				"h": 12,
			},
			"highlight":{
				"x": 127,
				"y": 0,
				"w": 12,
				"h": 12,
			},
			"push":{
				"x": 139,
				"y": 0,
				"w": 12,
				"h": 12,
			},
			"disable":{
				"x": 151,
				"y": 0,
				"w": 12,
				"h": 12,
			},
			"checked":{
				"x": 163,
				"y": 0,
				"w": 12,
				"h": 12,
			},
			"checkedHighlight":{
				"x": 175,
				"y": 0,
				"w": 12,
				"h": 12,
			},
			"checkedPush":{
				"x": 187,
				"y": 0,
				"w": 12,
				"h": 12,
			},
			"checkedDisable":{
				"x": 199,
				"y": 0,
				"w": 12,
				"h": 12,
			},
			"region":{
				"l": 5,
				"r": 5,
				"t": 5,
				"b": 5,
			},
		},
		"inputbox":{
			"rect":{
				"x": 212,
				"y": 0,
				"w": 12,
				"h": 12,
			},
			"region":{
				"l": 5,
				"r": 5,
				"t": 5,
				"b": 5,
			},
		},
	}
}